.formHeader {
    font-weight: bold;
    color: black;
    margin: 0;
    padding: 3.5rem;
}

.formContainer {
    background-color: white;
    width: 1159px;
    height: 90rem;
    margin: 0 auto;
}

.loading {
    // padding: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15rem;
    // color: #597d32;
}

.loading__message {
    font-weight: bold;
    color: #597d32;
    margin-top: 5rem;
}
