.title {
    padding: 2rem 0rem;
    margin: 0rem auto;
    justify-content: center;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 125rem;
    margin: auto;
    border-radius: 1rem;
    padding-bottom: 10rem;
}

.container main {
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
    background-color: white;
    border-radius: 1rem;
}

.title h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.05em;
    color: #597d32;
}

.title p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    color: #666666;
}

.container h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #0d6ab0;
    letter-spacing: 0.05em;
    padding: 2rem;
    border-bottom: 1px solid #ccc;
    border-radius: 20px 20px 0px 0px;
}

.productList {
    display: flex;
    margin: 0 auto;
    width: 1266px;
    // gap: 3rem;
}

.header__order {
    padding: 1rem;
    padding-left: 2rem;
    font-weight: bold;
    color: white;
    // width: 42rem;
}

.list__container {
    display: flex;
    gap: 3rem;
}

.list {
    max-height: 479px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
}

.order__detail {
    // border: solid;
    padding: 0 3rem;
    background-color: white;
    border-radius: 10px;
    width: 818px;
    display: flex;
}

.items__header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter__img {
    padding-right: 2rem;
    cursor: pointer;
}

/********************************
     DETAIL PRODUCT SECTION
*******************************/
.detail__product__container {
    width: 1266px;
    background-color: white;
    margin: 0rem auto;
    margin-top: 5rem;
    padding-bottom: 5rem;
}

.detail__product__container h2 {
    padding: 7rem 0 0 7rem;
}

// HANDLE FILTER

.items__header {
    position: relative;
}

.filter__table {
    position: absolute;
    left: 95%;
    z-index: 2;
    top: -3rem;
    box-shadow: #666666;
}

.left__section {
    width: 42rem;
    background-color: white;
}