.profile {
    position: absolute;
    width: 300px;
    top: calc(100% + 4px);
    right: 0;
    background-color: #fff;
    padding: 12px 12px 0;
    box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.2);
    z-index: 1;
<<<<<<< HEAD
    // display: none;

    .profile__wrap {
        margin-bottom: 12px;
        // position: relative;
=======

    .profile__wrap {
        // margin-bottom: 12px;
>>>>>>> 9ccacff0d07e1f893ca91b2331b59f09f99ab91d

        .profile__lable {
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.6;
        }
        .profile__list {
            list-style: none;

            .profile__item {
                display: flex;
                align-items: center;
<<<<<<< HEAD
                border-bottom: 1px solid #ccc;
=======
                // border-bottom: 1px solid #ccc;
>>>>>>> 9ccacff0d07e1f893ca91b2331b59f09f99ab91d
                cursor: pointer;
                padding: 6px 0;

                .profile__item-icon {
                    width: 2rem;
                    height: 2rem;
                    color: #ccc;
                    padding: 4px;
                }
                .profile__item-link {
                    font-size: 1.4rem;
                    line-height: 1.6;
                    color: #333;
                    padding-left: 12px;
                    display: block;
                    width: 100%;
                }
<<<<<<< HEAD
            }

            // .profile__item:hover .profile__item-link {
            //     color: #fff;
            // }
            .profile__item:hover {
                background-color: rgb(203, 234, 226);
            }
            .profile__item:hover .profile__item-icon {
=======
                .profile__item-link--order{
                    color: #13488C;
                }
            }
            .profile__item:hover {
                background-color: #f8f6f6;
            }
            .profile__item:hover .profile__item-icon,
            .profile__item:hover .profile__item-link {
>>>>>>> 9ccacff0d07e1f893ca91b2331b59f09f99ab91d
                color: #597d32;
            }
        }
    }
<<<<<<< HEAD
    .profile__wrap:last-child {
        margin-bottom: 6px;

        .profile__item:last-child {
            border: none;

            .profile__item-link:last-child {
                color: #13488c;
                font-weight: 600;
            }
        }
    }
=======
>>>>>>> 9ccacff0d07e1f893ca91b2331b59f09f99ab91d
}
.profile::before {
    position: absolute;
    content: '';
    top: -12px;
    right: 16px;
    border-style: solid;
    border-width: 8px;
    border-color: transparent transparent #fff transparent;
<<<<<<< HEAD
=======
    // box-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.2);
>>>>>>> 9ccacff0d07e1f893ca91b2331b59f09f99ab91d
}
.profile::after {
    position: absolute;
    content: '';
    top: -4px;
    right: 0;
    width: 100%;
    height: 5px;
}