body {
    background-color: #e7e8ec;
}

.title {
    left: 204px;
    top: 209px;

    margin-top: 5rem;
    margin-left: 20rem;
    margin-bottom: 5rem;
}

.container {
    background-color: #ffffff;
    margin-left: 15rem;
    margin-right: 15rem;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;

    color: #597d32;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;

    color: #666666;
}

h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #0d6ab0;
    letter-spacing: 0.05em;
    padding: 20px 50px;

    border-bottom: 1px solid #cccccc;
    border-radius: 20px 20px 0px 0px;
}
