body {
    background-color: #f3f3f3;
}
.header {
    background-color: #fff;
    margin: 3rem 3.5rem;
}
.header > div {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 1rem;
    transition: all 0.3s ease;
}
.header__content {
    padding: 2rem 2.5rem;
    align-items: center;
    margin-left: 3rem;
}
.header__container {
    justify-content: center;
    margin: 0 3.5rem;
}
.header__container p {
    text-align: center;
    min-width: 13rem;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
}
.header__container__sample {
    width: 11rem;
    height: 11rem;
    background-color: #597d32;
    text-align: center;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    transition: 0.5s;
}
.header__container__sample img {
    height: 7rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
}
.header__container__sample:hover {
    background-color: #70b261;
}
.title {
    background-color: #fff;
    margin: 2.5rem 3.5rem;
    color: #597d32;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 0.1rem 0.4rem 0.2rem #dcdcdc;
}
.title__main {
    display: inline-block;
    letter-spacing: 2px;
    font-size: 2.6rem;
    font-weight: 500;
    padding: 1.5rem 2.5rem;
}
.title__more {
    float: right;
    padding: 2rem 4rem;
    font-size: 1.6rem;
    color: #13488c;
    min-width: 19rem;
}
.title__more i {
    padding-left: 1rem;
}
.listProducts {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 2.6rem;
    flex-wrap: wrap;
}
.listProducts__product {
    justify-content: center;
    margin-bottom: 2rem;
}
.donations {
    background-color: #fff;
    margin: 3rem;
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
}
.donations__describe {
    flex: 1;
}
.donations__describe__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0rem 2.5rem;
}
.donations__describe__header__content {
    min-width: 227px;
}
.donations__describe__header__content h1 {
    display: inline-block;
}
.donations__describe__header__content__1 {
    color: #597d32;
    font-weight: 600;
    font-size: 5rem;
    padding-right: 1.2rem;
}
.donations__describe__header__content__2 {
    color: #ff424d;
    font-size: 12rem;
    line-height: 12rem;
}
.donations__describe__header__content__3 {
    font-size: 5rem;
    font-weight: 500;
    color: #ff424d;
    padding-left: 0.4rem;
}
.donations__describe__header a {
    margin-bottom: 2.5rem;
    color: #13488c;
    min-width: 103px;
}
.donations__describe__header a i {
    margin-left: 1rem;
}
.donations__describe__listProducts {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1rem 2rem;
    margin-bottom: 5rem;
}
.donations__describe__listProducts__product {
    justify-content: center;
    margin-top: 2rem;
}
.donations__carproduct {
    margin: auto 0 3.2rem 0;
}
.hover:hover {
    color: #ce12c5;
}
