@import '../../../../styles/colors';

.profileForm {
  list-style: none;

  &__item {
    display: flex;
    margin-top: 20px;

    &-title {
      line-height: 32px;
      font-size: 1.6rem;
      min-width: 200px;
    }

    input[type=text],
    input[type=password],
    input[type=date] {
      display: block;
      font-size: 1.6rem;
      border-color: #ccc;
    }
    
    input[type=date] {
      padding: 4.5px;
      cursor: pointer;
    }
    input[type=text],
    input[type=password] {
      padding: 6px;
      width: 80%;
      width: 100%;

      &::placeholder {
        font-size: 1.4rem;
      }
    }
    input[type=password] {
      width: 70%;
    }

    input[type=radio] {
      padding-right: 4px;
      margin-right: 6px;
      cursor: pointer;
    }

    input[type=radio]:checked {
      accent-color: $main-color;
    }
  }

  &__gender {
    display: flex;

    label {
      padding-right: 16px;
      cursor: pointer;
      display: flex;
      align-items: center;

      input {
        margin: 0;
      }
    }
  }

  .forgotPW {
    line-height: 32px;
    font-size: 1.4rem;
    color: #13488C;
    cursor: pointer;
    display: block;
    text-align: right;
  }
}

.btn {
  position: absolute;
  width: 120px;
  bottom: 20px;
  right: 30px;
}

.avatar {

  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    object-fit: cover;
    display: block;
  }

  .avatarIcon {
    font-size: 15rem;
    color: #bbb;
    display: block;
    margin: auto;
  }

  &__edit {
    display: flex;
    justify-content: center;
    margin: 20px 0;

    button {
      margin: 0 4px; 
      width: 120px;
    }
  }
}