@import '../../../styles/colors';

.products__product {
    margin: 0 24px;
    min-width: 50vw;

    .products__product-outstanding {
        background-color: #fff;
        padding: 12px;
        margin-bottom: 12px;
        border-radius: 8px;

        .products__product-outstanding-heading {
            padding-bottom: 12px;
            border-bottom: 1px solid #000;
            font-weight: 500;
        }

        .products__product-outstanding-category {
            display: flex;
            padding-top: 12px;

            .products__product-outstanding-category-list {
                width: 75%;
                display: flex;
                justify-content: space-between;
                list-style: none;

                .products__product-outstanding-category-item {

                    .products__product-outstanding-category-link {
                        font-size: 1.6rem;
                        line-height: 1.6;
                        color: #666;
                    }
                    .products__product-outstanding-category-link--color {
                        color: $main-color;
                    }
                    .products__product-outstanding-category-underline {
                        border-bottom: 4px solid $main-color;
                        border-radius: 50px;
                        width: 70%;
                        margin: 0 auto;
                        transition: all 0.6s;
                    }
                    .products__product-outstanding-category-underline--display {
                        border-color: transparent;
                    }
                }
                .products__product-outstanding-category-item--color {
                    color: $main-color;
                }
            }

            .products__product-outstanding-category-page {
                width: 25%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                font-size: 1.6rem;

                .products__product-outstanding-category-page-links {

                    .products__product-outstanding-category-page-left {
                        padding: 6px 6px 0;
                        color: #999;
                    }
                    .products__product-outstanding-category-page-right {
                        padding: 6px 6px 0;
                        color: #999;
                    }
                }
                .products__product-outstanding-category-page-number {
                    margin: 0 6px;
                }
            }
        }
    }

    .products__product-wrap-item {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 50px;
    }

    .products__pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        margin-top: 40px;

        .products__pagination-item {
            margin: 0 12px;

            .products__pagination-item-link {
                font-size: 1.6rem;
                color: #666;
                padding: 6px 12px;
                border-radius: 10px;
            }
            .products__pagination-item-link--active {
                background: rgba(89, 125, 50, 0.8);
                color: #fff;
            }
        }
    }
}
.margin {
    margin-left: 325px;
}
