.bar__progress__container {
    // height: 10rem;
    // margin-left: 4rem;
    // background-color: red;
}

.bar__progress {
    display: flex;
    gap: 0;
    justify-content: center;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    z-index: 1;
}

.rectangle {
    height: 7px;
    width: 210px;
    background-color: #bbb;
    margin-left: -0.3rem;
    margin-top: 0.9rem;
    z-index: 0;
}

.bar__progress__icon {
    margin: 0.5rem;
    color: #0b7a45;
}

.x__icon {
    margin-left: 0.65rem;
    margin-top: 0.5rem;
    color: #7d3232;
}

.green {
    background-color: #a0e7d2;
}

.red {
    background-color: #ff8885;
}

// STEP CONTENT
.bar__progress__step__container {
    display: flex;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    gap: 11rem;
}

.bar__progress__step {
    text-align: center;
    // margin: 50%;
}

// .bar__progress__step__container:nth-child(2) {
//     padding-right: 4rem;
// }
