.radio__item {
    display: flex;
    gap: 2rem;
    margin: 1rem 4.5rem;
}

.radio__tick {
    border: solid lightgrey;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 4px;
}

.radio__content {
    color: black;
}
