.inputSection label input {
    display: block;
    font-family: 'Inter';
    font-size: 1.6rem;
    // margin: 1.5rem auto;
}

.inputSection label input::-webkit-input-placeholder {
    font-family: 'Inter';
    font-size: 1.6rem;
}

.inputSection label input:-ms-input-placeholder {
    font-family: 'Inter';
    font-size: 1.6rem;
}

.inputSection label input::-ms-input-placeholder {
    font-family: 'Inter';
    font-size: 1.6rem;
}

.inputSection label input::placeholder {
    font-family: 'Inter';
    font-size: 1.6rem;
}

.inputSection label {
    font-size: 18px;
}

.inputSection label > span {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: .5rem;
    margin: 1.5rem auto;
}

.inputSection {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0rem auto;
    border-top: 1px solid lightgray;
    padding-top: 3rem; 
}

.inputSection .leftSection,
.inputSection .rightSection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

input[placeholder="Danh mục"] {
    cursor: pointer;
}

.input2 {
    width: 45rem;
    border: 1px solid #CCC;
    padding: .7rem 2rem;
    font-size: 16px;
    border-radius: 5rem;
}

// ICON
.input__dropdown {
    position: relative;
}

.icon {
    position: absolute;
    top: -3%;
    left: 90%;
    cursor: pointer;
}

.dropdownContent {
    font-size: 46px;
    padding-left: 2rem;
}

// BUTTON
.button__continue {
    margin-top: 4rem;
    margin-right: 4rem;
    margin-bottom: 3rem;
    width: 14rem;
    font-size: 1.6rem;
    padding: 1rem 0rem;
    border-radius: 5rem;
}

.main__section {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 1rem;
}

.stateHeader {
    margin-top: 1rem;
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: .5rem;
    margin-bottom: 1rem;
    color: black;
}

.radio__check {
    margin-left: .5rem;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown svg {
    padding: 1rem;
}

.dropdown input[id="dropdown_toggle"]:checked ~ .dropdown__list {
    max-height: 19rem;
    border-color: lightgray;
    visibility: visible;
    overflow: auto;
}

.dropdown input[id="dropdown_toggle"] ~ label svg {
    rotate: 0deg;
    transition: all .35s ease-in-out;
}

.dropdown input[id="dropdown_toggle"]:checked ~ label svg {
    rotate: -180deg;
}

.dropdown input[id="dropdown_toggle"] {
    display: none;
}

.dropdown__list {
    position: absolute;
    top: 100%;
    left: 1.5rem;
    right: 1.5rem;
    background-color: white;
    border: 1px solid transparent;
    border-top: none;
    max-height: 0rem;
    overflow: hidden;
    visibility: hidden;
    border-radius: 0rem 0rem .5rem .5rem;
    box-shadow: 0 0 .2rem rgba(0, 0, 0, .15);
    transition: all .35s ease-in-out;

    &__item {
        padding: 1rem;
        // border-bottom: 1px solid #CCC;
        font-size: 1.4rem;
        cursor: pointer;
    }
    &__item:hover {
        background-color: rgba($color: #000000, $alpha: .04);
    }
}