.product {
    box-shadow: 3px 3px 8px 3px lightgrey;
    margin: 4rem;
}

.productName {
    width: 628px;
    display: flex;
    // gap: 20rem;
    background-color: #f4f4f4;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.productName p {
    // Đàm dạ hội
    color: black;
    font-weight: bold;
    margin: 1rem;
    padding: 0.2rem;
}

.menu p {
    color: black;
}

.productDetail {
    width: 628px;
    background-color: white;
    padding: 1.5rem;
    display: flex;
    gap: 2.5rem;
    font-size: 16px;
}

.finalDetail div {
    display: flex;
    gap: 1rem;
    // margin-left: 4rem;
    justify-content: center;
    // border: solid;
}

.suggestedPrice p:first-child {
    padding-left: 13rem;
}
.redBold {
    color: red;
    font-weight: bold;
}

// ICON

.icon {
    font-size: 16px;
    color: #597d32;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-left: 2rem;
}
