.address__item__container {
    padding: 0.5rem 0;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666;
}
.address__item__container:only-child {
    padding: 1rem 0;
}

.address__item__container p {
    padding: 0.5rem 2rem;
    color: #666666;
}

.name__phone {
    display: flex;
    justify-content: flex-start;
}

.name__phone p {
    padding: 0.5rem 2rem;
    color: #13488c;
}

.name__phone p:first-child {
    border-right: 2px solid #13488c;
}
