.delivery__info {
    background-color: white;
}

.address__delivery {
    display: flex;
    // justify-content: space-around;
    // gap: 3rem;
    // margin: 1rem 0;
    border-bottom: 1px #666666 solid;
    padding: 1.5rem 0.5rem;
}

.location__delivery__icon {
    padding: 0 2rem;
    color: #ff424e;
}

.chevrondown__icon {
    margin-left: 13rem;
}

.note {
    display: flex;
    gap: 2rem;
    padding: 1.5rem 2rem;
}

// .note p {
//     font-size: 14px;
//     color: #444;
// }

.note input {
    border: none;
}
