@import '../../styles/colors.scss';

.payment__method__container {
    background-color: white;
    padding: 2rem;
}

.payment__method__container div {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.radio__custom {
    // font-size: 2rem;
    border: 0px;
    width: 1.5em;
    height: 1.5em;
    accent-color: $main-color;
    cursor: pointer;
}

.btn__booking {
    background-color: #597d32;
    color: white;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
