.navigation {
    height: 100%;
    background-color: #fff;
    width: 12rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 2px solid #B9B9B9;
    &__logo {
        text-align: center;
        padding-top: 2.5rem;
        padding-bottom: 17rem;
        img {
            cursor: pointer;
            justify-items: center;
        }
    }
    &__container {
        &__listcontent {
            &__components {
                position: relative;
                // transition: 2s;
                padding-bottom: 5rem ;
                &__component {
                    &__title {
                        opacity: 0;
                        // display: none;
                        border: 2px solid #615F5F;
                        border-radius: 12px;
                        bottom: 4.8rem;
                        left: -1.8rem;
                        position: absolute;
                        background: linear-gradient(270.32deg, #645F5F -12.43%, rgba(217, 217, 217, 0) 64.25%);
                        overflow: hidden;
                        display: flex;
                        img {
                            text-align: center;
                            display: inline-block;
                            padding: 0.4rem 0;
                            padding-left: calc(1.5rem - 1px);
                        }
                        P {
                            margin: auto;
                            font-size: 2.2rem;
                            font-weight: 600;
                            padding-left: 1.6rem;
                            padding-right: 5rem;
                            // word-wrap: break-word;
                            // word-break: break-all;
                            white-space: nowrap;
                        }
                    }
                }
                &__component:hover .navigation__container__listcontent__components__component__title  {
                    opacity: 1;
                    transition: 1s;

                }
                &__component:hover>img {
                    opacity: 0;
                }
            }
        }
    }
}